# Node modules
node_modules/

# Build output
dist/
public/tailwind.css

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Optional: VS Code settings
.vscode/

# gh-pages cache
.cache/
.gh-pages/